<div class="card">
	<div class="card-body">

		<h1>Acerca de</h1>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro maxime laboriosam, eveniet ut, perferendis totam quidem aliquid amet eum, delectus error sint pariatur sed recusandae alias earum veniam minima voluptate?</p>
	</div>
</div>