<div class="jumbotron mt-4">
	<h1 class="display-4">Página de Nodejs y Mongodb</h1>
	<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo explicabo sed eaque odit voluptatibus animi cumque, consectetur eveniet modi obcaecati, omnis tempora ratione veritatis sint! Illo, nesciunt. Aspernatur, assumenda voluptate!</p>
	<hr class="my-4">
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum atque sequi delectus voluptate magni provident rem. Dolores minima alias dicta aut dolorem, aliquam neque voluptate minus tempora adipisci nesciunt ipsum!</p>
	<a href="https://github.com/Nicofp55" class="btn btn-secondary btn-lg btn-block">Mi repositorio en Github</a>
</div>